@import "./hello-world";

.app {
  text-align: center;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__brand {
    padding: 2rem;
    width: 10rem;
    height: auto;
  }
}

#nav {
  padding: 30px;
}

#nav {
  a {
    color: #2c3e50;
    font-weight: bold;
  }

  .router-link-exact-active {
    color: #ee028b;
  }
}
